/* Base Template */
*,*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --button-size: 100px;
    --font-primary: 'Varela Round', sans-serif;
    --font-main: 'Nunito Sans', sans-serif;
    
    --color-title: rgb(19, 108, 191);
    
    --width-min: 600px;
    font-family: var(--font-main);
}

.main_title {
/*    background: ;*/
    display: block;
    position: relative;
    height: 4rem;
    text-align: center;
    color: var(--color-title);
    padding: 10px;
}

html {
    animation-name: fade_in;
    animation-duration: 750ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

a {
    background: pink;
    text-decoration: none;
    border-radius: 50%;
}

a:visited { color: inherit; }

footer {
    background: lightblue;
    height: 4rem;
}

/*End Base Template*/

@keyframes fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.lesson-wrapper {
    display: block;
    background: pink;
    position: relative;
    height: 90%;
/*    height: 500px;*/
}

.book-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
    
    opacity: 70%;
  transform: translate(-50.2%, -53.5%);
  width: 705px; height: 400px;
background: skyblue;   
}

.book-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; height: 600px;
/*    ! ! ! MIN subject to change based off how text fits*/
/*
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
*/
/*    height: 1000px;*/
}

.book {
  position: absolute;
    display: flex;
    column-gap: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
    height: 400px;
    background: lightgreen;
    z-index: 1;
    max-height: 100%;
    max-width: 100%;
}

.left_page {
    position: absolute;
    background: orange;
    left: 3px;
    top: 3px;
    width: 320px;
    height: 395px;
    max-height: 100%;
    max-width: 100%;
}

.right_page {
    position: absolute;
    background: lavender;
    right: 3px;
    top: 3px;
    width: 320px;
    height: 395px;
    max-height: 100%;
    max-width: 100%;
}

@media (min-width:1200px) {
    .book-background { width: 1200px; height: 900px; }
    .book-wrapper { width: 1040px; height: 600px; }
    .book { width: 99%; height: 99%; }
    
    .left_page { width: 45%; height: 99%; }
    .right_page { width: 45%; height: 99%; }
}

@media (min-width:1600px) {
    .book-background { width: 1450px; height: 900px; }
    .book-wrapper { width: 1270px; height: 730px; }
    .book { width: 99%; height: 99%; top: 50%; }
    
    .left_page { width: 45%; height: 99%; }
    .right_page { width: 45%; height: 99%; }
}
