/* Base Template */
*,*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --button-size: 100px;
    --font-primary: 'Varela Round', sans-serif;
    --font-main: 'Nunito Sans', sans-serif;
    
    --color-title: rgb(19, 108, 191);
    
    --width-min: 1000px;
    font-family: var(--font-main);
}

.reference-line {
    width: 2px;
    height: 100vw;
    background-color: black;
    margin: 0 auto;
    display: none;
}

.main_title {
/*    background: ;*/
    display: block;
    position: relative;
    height: 4rem;
    text-align: center;
    color: var(--color-title);
    padding: 10px;
}

html {
    min-width: var(--width-min);
    background-color: #fafafa;
}

a {
    background: pink;
    text-decoration: none;
    border-radius: 50%;
}

a:visited { color: inherit; }

footer {
    background: lightblue;
    height: 4rem;
}

/*End Base Template*/

.lesson-display {
    background-color: pink;
    height: 90vh;
    width: 100%;
    position: relative;
}

.book_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*    ! ! ! MIN subject to change based off how text fits*/
    min-width: 80em;
    min-height: 50em;
    max-width: 100%;
    max-height: 100%;
    height: 95vw;
    width: 95vw;
}

