*,*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --button-size: 100px;
    --font-primary: 'Varela Round', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

.main_title {
/*    background: ;*/
    display: block;
    position: relative;
    height: 4rem;
    text-align: center;
    color: rgb(19, 108, 191);
    padding: 10px;
}

html {
    background-color: #fafafa;
}

a {
    background: red;
    border-radius: 50%;
}

.skill_tree {
    position: relative;
    height: 95vh;
    width: 100%;
/*    background: pink;*/
}

.reference-line {
    width: 2px;
    height: 100vw;
    background-color: black;
    margin: 0 auto;
    display: none;
}

.wrapper {
/*    background-color: green;*/
}
.button {
    border: none;
    height: var(--button-size);
    width: var(--button-size);
    position: relative;
    border-radius: 50%;
}

.button:focus {
    outline: none;
}

.button-image:hover {
    cursor: pointer;
    transform: scale(1.075);
    filter: brightness(120%);
}

.button-image {
    position: relative;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 50%;
}

.button-label {
    font-family: var(--font-primary);
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button-label:hover {
    cursor: pointer;
}

.options {
    position: absolute;
    column-gap: 50px;
    top: -65%;
    left: -6.5rem;
    display: flex;
    opacity: 0;
    transition: opacity 250ms, visibility 250ms;
}

.options-open-animation {
    animation-name: spring;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.options-close-animation {
    animation-name: shrink;
    animation-duration: 270ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes spring {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    30% {
        transform: scale(0.25);
    }
    100% {
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
        transform: scale(1.1);
    }
    30% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }    
}

.lesson-option {
    background: #ECECEC;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 4rem;
    width: 8rem;
}

.practice-option {
    background: #ECECEC;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 4rem;
    width: 8rem;
}

.lesson-option-arrow {
    position: absolute;
    border-style: solid;
    border-color: #ECECEC transparent transparent transparent;
    border-width: 18px 8px 0px 8px;
    bottom: -18px;
    transform: 
        translateX(75px) 
        translateY(-5px) 
        rotate(-30deg);
}

.practice-option-arrow {
    position: absolute;
    border-style: solid;
    border-color: #ECECEC transparent transparent transparent;
    border-width: 18px 8px 0px 8px;
    bottom: -18px;
    transform: 
        translateX(-15px) 
        translateY(-5px) 
        rotate(30deg);
}

.option-button:focus { outline: none }

.lesson-option-button {
    border: none;
    outline: none;
    font-size: 15px;
    font-family: var(--font-primary);
    background: #8eeb6c;
    width: 6rem;
    height: 2.5rem;
    border-radius: 15px;
    position: absolute;
    top: 44%;
    left: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 0 1px #8ebb6c;
}

.practice-option-button {
    border: none;
    outline: none;
    font-size: 15px;
    font-family: var(--font-primary);
    background: #f2da6d;
    width: 6rem;
    height: 2.5rem;
    border-radius: 15px;
    position: absolute;
    top: 44%;
    left: 78.25%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 0 1px #f2ba6d;
}

.lesson-option-button:hover { cursor: pointer; }
.practice-option-button:hover { cursor: pointer; }

.lesson-option-button:active {
    box-shadow: 0px 0px 0 0px #8ebb6c;
    transform: translate(-46%, -38%);
}

.practice-option-button:active {
    box-shadow: 0px 0px 0 0px #8ebb6c;
    transform: translate(-46%, -38%);
}

/*Position each of the skills*/
.introduction-wrapper {
    position: absolute;
    height: var(--button-size);
    width: var(--button-size);
    top: 50%; 
    right: 50%;
    bottom: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.ipa-wrapper {
    position: absolute;
    height: var(--button-size);
    width: var(--button-size);
    top: 75%;
    right: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

footer {
    background: lightblue;
    height: 4rem;
}

/*
#introduction-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/
