*,*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --button-size: 100px;
}

.main_title {
    background: lightblue;
    display: block;
    position: relative;
    height: 5vh;
    text-align: center;
}

html {
    background-color: #fafafa;
}

a{
    background: red;
    border-radius: 50%;
}

.skill_tree {
    position: relative;
    height: 95vh;
    width: 100vw;
    background: pink;
}

.reference-line {
    width: 2px;
    height: 100vw;
    background-color: black;
    margin: 0 auto;
    display: none;
}

.button {
    border: none;
    height: var(--button-size);
    width: var(--button-size);
    position: relative;
    border-radius: 50%;
}

.button:focus {
    outline: none;
}

.button-image:hover {
    cursor: pointer;
}

.button-image {
    position: relative;
    height: var(--button-size);
    width: var(--button-size);
    border-radius: 50%;
}

.button-label {
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.button-label:hover {
    cursor: pointer;
}

.options {
    position: absolute;
    display: flex;
    column-gap: 50px;
    top: -65%;
    left: -6.5rem;
    display: none;
}

.lesson-option {
    background: yellowgreen;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 4rem;
    width: 8rem;
}

.practice-option {
    background: lavender;
    text-align: center;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 4rem;
    width: 8rem;
}

.option-button {
    width: 6rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.lesson-option-arrow {
    position: absolute;
    border-style: solid;
    border-color: yellowgreen transparent transparent transparent;
    border-width: 18px 8px 0px 8px;
    bottom: -18px;
    transform: 
        translateX(75px) 
        translateY(-5px) 
        rotate(-30deg);
}

.practice-option-arrow {
    position: absolute;
    border-style: solid;
    border-color: lavender transparent transparent transparent;
    border-width: 18px 8px 0px 8px;
    bottom: -18px;
    transform: 
        translateX(-15px) 
        translateY(-5px) 
        rotate(30deg);
}

/*Position each of the skills*/
.introduction-wrapper {
    background: lightgreen;
    position: absolute;
    height: var(--button-size);
    width: var(--button-size);
    top: 50%; 
    right: 50%;
    bottom: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.ipa-wrapper {
    background: lightgreen;
    position: absolute;
    height: var(--button-size);
    width: var(--button-size);
    top: 75%;
    right: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

footer {
    background: lightblue;
    height: 4rem;
}

/*
#introduction-label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/
